/* CSS */

input {
    margin: 5px 5px 5px 5px;
    padding: 3px 6px;
}

input:focus-visible {
    outline-color: #d7481c;
}

input[type="button"] {
    background: #a7e5ed;
    border: 0;
    border-radius: 4px;
    padding: 6px 9px;
}

input[type="button"]:hover {
    background: blue;
    color: white;
}

p {
    font-size: 30px;
    margin: 14px 0 0 15px;
}